<h1>Admin area</h1>

<% Podcast.all.each do |podcast| %>
  <div>
    <%= link_to podcast.name, admin_podcast_episodes_path(podcast.code) %>
    (<%= link_to "Transcripts", admin_podcast_transcripts_path(podcast.code) %>)
  </div>
<% end %>
