.flex-lang {
  flex: 1;

  &.flex-en { flex:1.02 !important; }
  &.flex-it { flex:1.05 !important; }
  &.flex-ja { flex:1.02 !important; }
  &.flex-de { flex:1.20 !important; }
  &.flex-zh { flex:0.75 !important; }
  &.flex-pt { flex:1.09 !important; }
  &.flex-fr { flex:1.15 !important; }
  &.flex-ru { flex:1.18 !important; }
  &.flex-pl { flex:1.03 !important; }
  &.flex-es { flex:1.07 !important; }
  &.flex-nl { flex:1.06 !important; }
  &.flex-hu { flex:1.01 !important; }
  &.flex-vi { flex:1.15 !important; }
  &.flex-sk { flex:0.98 !important; }
  &.flex-ko { flex:0.83 !important; }
  &.flex-fa { flex:0.79 !important; }
  &.flex-tr { flex:1.03 !important; }
  &.flex-ar { flex:0.68 !important; }
  &.flex-ro { flex:1.07 !important; }
  &.flex-cs { flex:0.84 !important; }
  &.flex-el { flex:1.22 !important; }
  &.flex-ca { flex:1.07 !important; }
  &.flex-he { flex: 0.7 !important; }

}
