@import colors

#player-page
  align-items: center

  h2, h3, h4, h5, h6
    margin-top: 2rem


#feedback
  margin: 2em .5em

.button-container
  text-align: center
  > .ui.button
    margin: 4px

#top-message.ui.message
  margin: 2em .5em
  .header
    margin: .5em 0 1em 0
