@import colors

#player-page
  #content
    .paragraph
      display: grid
      grid-template-columns: [start sidebar-start] 30px [sidebar-end] 2px [main-start] auto [main-end end]
      grid-template-rows: [start header-start] auto [header-end main-start] auto [main-end footer-start] auto [end]

      margin-top: .5em 0 .5em 0

      .playParagraphButton
        grid-column: sidebar-start / sidebar-end
        grid-row: header-start / header-end


      .paragraph-header
        display: flex
        align-items: center

        grid-column: main-start / main-end
        grid-row: header-start / header-end

        > *
          margin-right: 4px
          display: block

        .play-button-ctn
          line-height: 0

        .timestamp
          font-size: 80%
          color: #999

        .speaker
          display: block
          @media (max-height: 300px)
            display: inline

      .paragraph-main
        grid-column: main-start / main-end
        grid-row: main-start / main-end
        display: flex
        flex-direction: row
        align-items: flex-start

        .paragraph-content
          flex-grow: 1

        .translation
          margin-left: .5em

        &.with-translation
          .paragraph-content
            flex-grow: 0

      .paragraph-footer
        grid-column: sidebar-end / end
        grid-row: footer-start / end

        margin: 0 0 .5rem 0
        .translateParagraphButton
          display: inline-block
          background: none
          border: none 0
          padding: 0
          cursor: pointer
          margin-right: 1em
          font-size: 75%
          color: #586f7c
          &:hover
            opacity: 0.7
          &.error
            color: $errorColor

      .paragraph-bookmarks
        grid-column: sidebar-start / sidebar-end
        grid-row: main-start / main-end
