---
http_interactions:
- request:
    method: get
    uri: https://api.deepl.com/v2/translate?auth_key=<DEEPL_API_KEY>&preserve_formatting=1&source_lang=DE&target_lang=EN&text=Und%20hat%20es%20was%20gebracht?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"translations":[{"detected_source_language":"DE","text":"And did it
        do anything?"}]}'
  recorded_at: Sat, 27 Feb 2021 12:26:27 GMT
recorded_with: VCR 6.0.0
