<div id="builtin-player" style="display: none">
  <figure>
    <audio controls src="<%= @prepared_episode.audio_url %>">
      <%= t('errors.audio_element_not_supported') %>
    </audio>
  </figure>
</div>
