<div class="chapter">

  <% if chapter.title.present? %>
    <h3><%= chapter.title %></h3>
  <% end %>

  <% chapter.paragraphs.each do |paragraph| %>
    <%= error_boundary 'paragraph' do %>
      <%= render 'v2/paragraph', paragraph: paragraph %>
    <% end %>
  <% end %>

</div><!-- /chapter -->
