<div id="feedback">
  <div class="ui compact message">
    <%= bilingual_paragraphs 'beta.feedback_request' %>

    <div id="feedback-thumbs-container" class="button-container">
      <button id="feedback-good" class="ui huge icon button"><i class="thumbs up icon"></i></button>
      <button id="feedback-bad" class="ui huge icon button"><i class="thumbs down icon"></i></button>
    </div>

    <div class="button-container">
      <a class="ui right labeled icon button" href="https://docs.google.com/forms/d/e/1FAIpQLSemlKJpVrhlIQA8M-Yc8WMBtxHISVQJYTq1zH8wZrm47l3p3A/viewform?usp=sf_link" target="_blank">
        <%= t('beta.feedback_button') %>
        <i class="right chevron icon"></i>
      </a>
    </div>
  </div>
</div>
