<form id="language-picker-form">
  <%= label(:language, "#{t('translation.translation_language_label')}") %>
  &nbsp;
  <%=
    select_tag(
      :language,
      options_for_select(
        Translator.supported_target_languages_for_select(current_podcast.lang),
      ),
      id: "language-picker",
    )
  %>
  <p><%= t('translation.deepl_notice') %></p>
</form>
