<div id="scrubber">
  <div id="progress-bar-container">
    <div id="progress-bar">
      <div class="bar"></div>
    </div>
  </div>

  <div id="progress-times">
    <span id="progress-time">0:00:00</span> / <span id="total-time">0:00:00</span>
  </div>
</div>
