<div id="info-modal" style="display: none">

  <div class="button-container">
    <button class="close-button ui labeled icon button">
      <i class="caret left icon"></i>
      <%= I18n.t('buttons.back_to_podcast') %>
    </button>
  </div>

  <div class="scrolling content">
    <h2>Transcript Player Update</h2>
    <p>👋 Hello from <a href="https://levente.bagi.name/" target="_blank">Levente</a> (the developer of this web app)!</p>
    <p>A big thank you to all beta testers for your amazing feedback! There were a lot of great feature ideas!</p>
    <p>Most of you preferred the new version, so this will be shown by default from now on. If it doesn't work for you well, then you can still switch back to the old version, and your choice will be remembered when you open the Transcript Player again.</p>
    <h4>Progress bar</h4>
    <p>Many of you missed the progress bar, so I added a simple progress bar to the new version. You can still switch back to the original player component, which may contain additional features depending on your device or browser, like volume control, Chromecast support, etc. To switch, click <i class="cog icon"></i> and select <strong>Standard Player</strong>.</p>
    <h4>Vocab helper</h4>
    <p>A few of you had problems with the Vocab Helper. In case you didn't find it – it is hidden under the <i class="align justify icon"></i> button, which is not the perfect symbol, but it's the best I could find. I will try to draw a better one. Once you turn it on, it will be remembered and be automatically visible the next time. In case there was a bug, I added an error reporting utility, so I will be notified if there is an error.</p>
    <h4>Translations always on</h4>
    <p>Some of you would like to see all the text translated without clicking on the translation button every time. We originally didn't do this because we wanted to save some translation costs. After checking the stats, it turns out that 91% of the paragraphs get translated to English anyway, so we plan to add this option for English.</p>
    <h4>Other feature ideas</h4>
    <p>Below are some of the great ideas you suggested. I ordered this list by difficulty, so the first ones will probably be implemented sooner:</p>
    <ul>
      <li>bigger font size</li>
      <li>more precise speed setting</li>
      <li>bookmark a certain position</li>
      <li>highlight text</li>
      <li>translate into multiple languages</li>
      <li>Progressive Web App (so you can easily add it to your home screen)</li>
      <li>downloadable PDF</li>
      <li>more vocab</li>
      <li>highlighting translations</li>
    </ul>
    <p>Please remember that this is hobby project of one developer, so progress will be slow.</p>
    <p>You are very welcome to <a href="https://docs.google.com/forms/d/e/1FAIpQLSemlKJpVrhlIQA8M-Yc8WMBtxHISVQJYTq1zH8wZrm47l3p3A/viewform?usp=sf_link" target="_blank">leave feedback</a> anytime.</p>
  </div>

</div>
