<% @title = "404 Not Found" %>
<div class="error-page">
  <h1>Fehler 404 - Nicht Gefunden</h1>

  <p>An diesem Ort gibt es keine Episode.</p>

  <p>Wenn diese Episode gerade erst veröffentlicht wurde, versuche bitte, diese Seite in ein paar Minuten neu zu laden.</p>

  <p>
    Alle Episoden, die dir zur Verfügung stehen, findest du auf der
    <a href="https://www.patreon.com/easygerman/posts?filters[media_types]=audio">Patreon-Seite von Easy German audio posts</a>.
  </p>

  <hr/>

  <h1>Error 404 - Not Found</h1>

  <p>There is no episode at this location.</p>

  <p>If this episode has just been published, please try reloading this page in a few minutes.</p>

  <p>For all episodes available to you, see <a href="https://www.patreon.com/easygerman/posts?filters[media_types]=audio">Patreon page of Easy German audio posts</a></p>
</div>
