<div id="player-page">
  <figure>
    <audio controls src="<%= @episode.audio_url %>">
      Your browser does not support the <code>audio</code> element.
    </audio>
  </figure>

  <div id="content">
    <header>
      <h1><%= @title %></h1>
      <p>The Easy German Podcast</p>
      <a target="_blank" href="http://www.easygerman.fm">www.easygerman.fm</a>
    </header>

    <%= @episode.processed_html %>
  </div>
</div>
