@import 'colors'

$textColor: $green
$bgColor: #daefde

.translation
  color: $textColor
  background: $bgColor
  padding: 0.5em
  border-radius: 0.25em

#pre-play
  text-align: center

#language-picker-form
  display: inline-block
  margin: auto
  background: $bgColor
  padding: 1rem
  border-radius: .5rem
  font-size: smaller
  padding-bottom: 0

  // equal space between heading above and content below
  margin-bottom: 4em

  > p
    font-size: smaller
  > p:last-child
    margin-bottom: 0
