<div class="chapter-summary">
  <h2><%= chapter.title %></h2>

  <p><%= render 'admin/shared/timespan', item: chapter %></p>

  <% chapter.paragraphs.each do |paragraph| %>
    <%= render 'admin/paragraphs/summary', paragraph: paragraph, episode: episode %>
  <% end %>
</div>
